.bodyi {
    margin:0 auto;
    padding:0;
	width:200px;
    text-align:center;
}
h2 {
    font-size: medium;
    font-family: monospace, sans-serif;
    color: darkorange;
}

.button {
    margin-top: -10px;
    background-color: cornflowerblue;
    height: 18px;
    width: 125px;
    border-radius: 15%;
    border-color: green;
    border-style: solid;

}

.button-text {
    color: purple;
}

.red-text {
    color: red;
}

h2 {
    font-family: Lobster, Monospace;
}

p {
    font-size: 16px;
    font-family: Monospace;
}

.thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

.smaller-image {
    width: 100px;
}