.bodyi {
    margin:0 auto;
    padding:0;
	width:200px;
    text-align:center;
}
h2 {
    font-size: medium;
    font-family: monospace, sans-serif;
    color: darkorange;
}

.button {
    margin-top: -10px;
    background-color: cornflowerblue;
    height: 18px;
    width: 135px;
    border-radius: 15%;
    border-color: green;
    border-style: solid;

}

.button-text {
    color: purple;
}

.red-text {
    color: red;
}

h2 {
    font-family: Lobster, Monospace;
}

p {
    font-size: 14px;
    font-family: Monospace;
    text-align: center;
}

.thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

.smaller-image {
    width: 100px;
}

.gray-background {
    background-color: gray;
}
#cat-photo-form {
    background-color: green;
}
.injected-text {
    margin-bottom: -25px;
    text-align: center;
}

.box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    width: 100px;
}

.yellow-box {
    background-color: yellow;
    padding:10px;
    height: 170px;
    }

.red-box {
    background-color:red;
    padding: 20px;
    width: 50px;
}

.green-box {
    background-color: green;
    padding: 10px;
    width: 70px;
}
